<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<mat-toolbar color="primary" style="overflow: hidden">
  <a mat-raised-button routerLink="/home" routerLinkActive="active" color="warn">Home</a>
  <!-- <router-outlet></router-outlet> -->
</mat-toolbar>

<body style="background-color: #feb236;" ng-app>
  <br><br>  <br><br><br><br>

  <div class="content center"
  style="background-color: #eca1a6;  width: 35%; margin: 1rem;
  padding: 1rem; margin-left: 35%; border-radius: 9px;  box-shadow: 2px 2px 10px #666;">

    <mat-card-content class="center" >
      <img mat-card-image src="../assets/images/logo.jpg" width="60%" style="padding-left: 35%; border-radius: 9px;">

      <br><br>

      <form class="example-form center" style="padding-left: 30%;">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="" #nameUser required>
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" value="" #passwordUser type="password" required>
        </mat-form-field>
        <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
          Usuario Creado con Éxito!
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="msgError">
          ERROR: El Usuario no se pudo crear.
        </div>


      </form>
      <button  (click)="signIn(nameUser.value, passwordUser.value)" mat-raised-button color="accent" style="margin-left: 40%;">Sign Up</button>
      <!-- &nbsp;
      <button mat-raised-button color="warn" >Log In</button> -->
      <br><br>



    </mat-card-content>
  </div>


</body>




