<br>
<h1 style="text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: xx-large;
font-weight: bold;">Help Venezuelan Orphans | Providing 1,500 Meals Weekly</h1><br>

<div class="container center">
  <p>
    <iframe width="560" height="315" [src]="getVideoIframe('https://www.youtube.com/watch?v=r02cAwXXJ58&feature=emb_title')"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>

    </iframe>
  </p>



</div>
<br> <br>
<mat-tab-group style="padding-left: 10%;">
  <mat-tab label="Story">
    <br>
    <h1 style="font-weight: bold;">Summary</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      The food crisis in Venezuela harms all components of society.
      No one seems to escape the reality which begins to leave permanent damages for future generations.
      33% of children have a growth delay and this is a mental damage that will be with them throughout their lives.
      Malnutrition is taking lives in orphanages due to the lack of food supplies provided by the current government.
    </p>

    <br>
    <h1 style="font-weight: bold;">Challenge</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      The scarcity of food in Venezuela and the lack of medical supplies has become a problem that affects the health of vulnerable starving children.
      Orphaned children do not receive the help promised by the government.
      Those in charge of orphanages have been tasked with reducing the amount of food per day for each per orphaned child.
      There are more children who are abandoned on the streets that have created an insurmountable challenge.
    </p>

    <br>
    <h1 style="font-weight: bold;">Solution</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      South American Initiative will continue to provide over 200 meals per day and clean drinking water to orphans in Venezuela and adults who are suffering from malnutrition in hospitals.
      We are currently providing shoes, food and clothes to orphanages located in the state of Carabobo, Venezuela "Maria Auxiliadora", "Semillita del Inmaculado Corazon de Maria" and "San Antonio" and expanding to more. We are helping to cover the basic needs of each orphaned child who temporarily lives in these places.
      Also, we are currently investing in agriculture and in building a greenhouse to plant vegetables and fruits to provide sustainable food for Venezuela orphanages across the country.
      A percentage of contributions goes towards these greenhouses.
    </p>

    <br>
    <h1 style="font-weight: bold;">How can I help Venezuela?</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      This project will help more than 500 orphans through a diet that provides all the necessary nutrients for the healthy development of each child.
      By providing a balanced fresh meal to each one of them, these children can be well educated and become productive members in the society.
      Help orphans in need, help sponsor an orphan charity, help sponsor a child.
    </p>

    <br>
    <h1 style="font-weight: bold;">Donate To Help Venezuela Today</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      Make a tax deductible donation to help Venezuela from our website.
      South American Initiative are a 501(c)(3) nonprofit organization commited to providing relief to the most poverty stricken people and areas of our beloved Venezuelan nation.
      Your secure online donation will help to provide necessary food, clothes, and more to Venezuelan orphans, hospitals, and more. Learn more about our organization when you visit our about us page. Help us save Venezuela!
    </p>

    <br>
    <h1 style="font-weight: bold;">Related Articles</h1>

    <p style="text-align: justify; width: 600px; font-size: medium;">
      1. <a href="https://www.efe.com/efe/english/world/abandoned-minors-roam-the-streets-of-venezuela-after-parents-leave-country/50000262-3542501">Abandoned minors roam the streets of Venezuela after parents leave country.</a> - Agency EFE.<br>
      2. <a href="https://www.huffpost.com/entry/hundreds-of-children-in-venezuela-are-starving-to-death-nytimes-reports_n_5a380d7fe4b0fc99878dd05d">Of Children In Venezuela Are Starving To Death, Says New York Times Report.</a> - Huffington Post<br>
      3. <a href="https://www.researchgate.net/publication/290225097_Street_Children_and_Adolescents_in_Venezuela_A_public_problem">Street Children and Adolescents in Venezuela. A public problem?</a> - ResearchGate
    </p>



  </mat-tab>

  <mat-tab label="Photos">
    <br>  <br>
    <mat-grid-list cols="3" rowHeight="36:3" style="padding-left: 10%;">

      <img src="../assets/images/SAINGO332.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/SAingo-2.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/organato11.jpg" width="20%">

      <br>  <br>
      <img src="../assets/images/orfanato2.jpg" width="20%" style="height: 170px;">
      &nbsp;
      <img src="../assets/images/orfanato.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/20190315_114518-2.jpg" width="20%">

      <br>  <br>
      <img src="../assets/images/SAINGO332.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/SAingo-2.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/7-1.jpg" width="20%">


      <br>  <br>

      <img src="../assets/images/27-1.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/orph9.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/orph10.jpg" width="20%">

      <br>  <br>
      <img src="../assets/images/orph11.jpg" width="20%" style="height: 170px;">
      &nbsp;
      <img src="../assets/images/orph12-1.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/orph13.jpg" width="20%">

      <br>  <br>
      <img src="../assets/images/orph14.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/orph16.jpg" width="20%">
      &nbsp;
      <img src="../assets/images/orph17.jpg" width="20%">



    </mat-grid-list>

  </mat-tab>

  <mat-tab label="Reports">
    <br>  <br>
    <div style="padding-left: 10%;">
      <mat-card-title>
        Help Improve Orphans Lives in Venezuela
      </mat-card-title>
      <br><br>
      <img mat-card-image src="../assets/images/Orphans-e1534793166896.jpg">
      <br><br>
      <mat-card-content >
      <p style="width: 600px; text-align: justify;">
        SAI supported orphan children enjoy lunchtime!
        SAI Grows Help for Orphans by Supporting Two More Orphanages

        Thanks to your generous donations we are now expanding our care for Venezuelan orphans. In the past, we have supported four different orphanages. Now we are in a position to add two more orphanages where we will continue to provide food, medicine, and medical care for these abandoned children.

        SAI's New Medical Clinic Helps Children 4-Days-A-Week

        Our new medical clinic in Valencia is now exclusively seeing children four-days-a-week. Most of these children are from the orphanages we support. We have also recently started a program that features one of our medical doctors visiting an orphanage once a week to perform medical exams on all the children.

        This is a Godsend for these children as many of them have medical conditions that do not require hospitalization but need the care of a medical doctor to diagnose and prescribe medicines that can care for various medical conditions of the orphans.

        For example, in one of our new orphanages, many of the children were experiencing bouts of diarrhea caused by drinking contaminated water and eating rotten food. After their medical examinations, the doctor determined that they had bacterial parasites and worms feeding in their stomachs. These children were exposed to dirty drinking water and bad food before they came to the orphanage.

        Antibiotics Solve Most Stomach Problems

        Since we provide clean drinking water and fresh food to the orphanages we support, bad water and rotten food are not problems. But worms and bacterial parasites do not go away by simply drinking purified water and eating clean food. It takes a 14-day regimen of antibiotics to rid these kids of their stomach issues.

        Once they get these medications, everything changes. Now they can spend their time playing, having fun, and studying instead of hiding in the bathroom all day in case they have an accident.

        Super Sick Kids Go To The Hospital

        Some of the children that visit our new clinic and those we see at the orphanages have severe conditions. These children are critically sick and need hospitalization. We send them to local hospitals along with an adult advocate to make sure they get the care they need. We also provide medicine and food for the children that are admitted to the hospitals.

        All Orphans Now Get Regular Medical Exams

        To help prevent these dire situations we have established a protocol that all orphans get regular medical exams. In this  way,  we can be sure that the kids are healthy and those that need professional medical care receive the care they need in a timely manner.

        Make Sure These Kids are Not Forgotten

        Prior to SAI offering full healthcare to each orphan, many of these kids were suffering from conditions that occur due to insufficient medical care. Our mission is to make sure these children are not forgotten and that when the politics and economy improve in Venezuela, they will be good candidates for adoption or in good health when their parents are   reunited with their children.

        Future Young Adults Best Hope for Venezuela

        As time passes, many of these orphans will outgrow their orphan status and become prospering young adults who are tasked with rebuilding Venezuela. Caring for these children assures that as they mature, they realize how important it is to help others in their deepest time of need and to keep the spirit of hope alive.

        Help Us Increase Orphanage Food Deliveries by 20%

        As the orphanages continue to accept abandoned children, they need more food and medicine to provide for the additional kids. That's why our goal is to increase our biweekly food deliveries by 20%. Growing children need more food, more medicine, more educational materials, and of course, more love! Your donations make this possible.

        The orphans we support, our SAI staff and volunteers, are grateful for your commitment to helping and your generous giving. You are truly walking the walk and talking the talk of delivering desperately needed humanitarian aid to Venezuelan orphans. Thank you!

      </p>

      </mat-card-content>
    </div>


  </mat-tab>
</mat-tab-group>
<br> <br>

