<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<mat-toolbar color="primary" style="overflow: hidden">

  <mat-toolbar-row>

    <div class="col-sm-6 .d-sm-none">

        <a href="https://sai.ngo/">
          <img src="../assets/images/new-logo-mix-color_bigSize.png" alt="South American Initiative" style="height: 48px;">
        </a>


        <a href="https://sai.ngo/" style="padding-left: 5%;">
          <img src="../assets/images/mobile-sai-logo.png" alt="South American Initiative" style="height: 48px;">
        </a>


    </div>
    <div class="col-sm-3 .d-sm-none"></div>
    <div class="col-sm-6 .d-sm-none">
      <a href="https://sai.ngo/donate-now/">
        <button mat-raised-button color="warn">DONATE NOW</button>
      </a>
      &nbsp;
      <a mat-raised-button routerLink="/user" routerLinkActive="active" color="warn">Back to USER</a>
    </div>




  </mat-toolbar-row>

</mat-toolbar>

<header>


    <div><br></div>
    <div class="justify-content-md-center">
      <img src="../assets/images/logo.jpg" style="padding-left: 10%; padding-right: 50%;">



      <a href="mailto:donate@sai.ngo">
        <button mat-fab md-color="accent">  <mat-icon>email</mat-icon> </button>
      </a>
      &nbsp;

      <a href="tel:800-563-6099">
        <button mat-fab md-color="accent"> <mat-icon> contact_phone </mat-icon> </button>
      </a>


    </div>
    <div><br></div>




</header>

<mat-toolbar  md-colors="primary" >


  <mat-toolbar-row style="overflow: hidden">

    <div class="col-sm-6 .d-sm-none">
        <a href="https://sai.ngo/">
          <button mat-raised-button >HOME</button>
        </a>
        &nbsp;
        <a href="https://sai.ngo/about-us/">
          <button mat-raised-button >ABOUT US</button>
        </a>

        &nbsp;
        <button mat-raised-button [matMenuTriggerFor]="belowMenu">CAMPAIGNS</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <a href="https://sai.ngo/project/help-venezuela/">
            <button mat-menu-item>Help Venezuela</button>
          </a>

          <a href="https://sai.ngo/project/orphans-venezuela/">
            <button mat-menu-item>Help Venezuelan Orphans</button>
          </a>

          <a href="https://sai.ngo/project/hospitals/">
            <button mat-menu-item>Help Venezuelan Hospitals</button>
          </a>

          <a href="https://sai.ngo/project/pets-venezuela/">
            <button mat-menu-item>Help Abandoned Venezuelan Pets</button>
          </a>

          <a href="https://sai.ngo/project/venezuelan-refugee-fund/">
            <button mat-menu-item>Help Venezuelan Refugees</button>
          </a>

          <a href="https://sai.ngo/project/endangered-animal-rescue-fund-venezuela-zoo/">
            <button mat-menu-item>Endangered Animal Rescue Fund</button>
          </a>

          <a href="https://sai.ngo/project/latin-american-education-fund/">
            <button mat-menu-item>Latin American Education Fund</button>
          </a>

          <a href="https://sai.ngo/project/south-american-initiative-vns/">
            <button mat-menu-item>Life-Saving Neurosurgery</button>
          </a>

        </mat-menu>
        &nbsp;
        <a href="https://sai.ngo/contact/">
          <button mat-raised-button >CONTACT US</button>
        </a>

        &nbsp;
        <button mat-raised-button [matMenuTriggerFor]="belowMenu2">More Ways To Help</button>
        <mat-menu #belowMenu2="matMenu" yPosition="below">
          <a href="https://sai.ngo/how-employees-of-fortune-500-companies-can-help-venezuela/">
            <button mat-menu-item>Employeer matching and volunteering</button>
          </a>

          <a href="https://sai.ngo/donor-advised-funds-donations-daf-venezuelan/">
            <button mat-menu-item>Donor Advised Funds</button>
          </a>

          <a href="https://sai.ngo/how-to-donate-cryptocurrency-to-help-venezuela/">
            <button mat-menu-item>How to Donate Cryptocurrency</button>
          </a>
        </mat-menu>

    </div>
    <div class="col-sm-4 .d-sm-none"></div>
    <div class="col-sm-6 .d-sm-none">
      <a href="https://sai.ngo/project/orphans-venezuela/">
        <button mat-fab md-color="accent"><img src="../assets/images/banderaEEUU.jpg" style="height: 20px;"></button>
      </a>
      &nbsp;
      <a href="https://sai.ngo/es/project/huerfanos-venezuela/">
        <button mat-fab md-color="accent"><img src="../assets/images/banderaEspana.jpg" style="height: 20px;"></button>
      </a>
    </div>



  </mat-toolbar-row>


</mat-toolbar>


