<footer style="background-color: #3e4444;">
  <br><br>
  <p style="text-align: center; color: #C0C0C0;">
    8211 W Broward Blvd Ste 410 Plantation, FL 33324
       800-563-6099
          donate@sai.ngo
  </p>
  <br>
  <p style="text-align: center; color: #C0C0C0;">
    South American Initiative is a 501(c)(3) charitable organization, EIN 81-1747993.
    All the contributions are tax deductible to the extent permitted by law.
    No goods or services will be provided in exchange for the contribution.
  </p>
  <br><br>
  <div class="center" style="padding-left: 20%;">
    <img src="../assets/images/vetted_large-1.png" style="width: 15%;">
    &nbsp;&nbsp;
    <img src="../assets/images/2019TRbadge-lg-1.png" style="width: 18%;">
    &nbsp;&nbsp;
    <img src="../assets/images/put-platinum2019-seal.png">
    &nbsp;&nbsp;
    <img src="../assets/images/0-1.png" style="width: 15%;">

  </div>

  <br><br>
</footer>

<footer style="background-color:  #d64161">
  <br><br>
  <p style="text-align: center; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">
    Copyright ©2020 South American Initiative and <a style="color: yellow;" href="https://www.instagram.com/vaneylab/">VaneyLab</a>  All Rights Reserved
  </p>
  <br><br>
</footer>
